<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.engTecOutSouPlat.dao.CompanyMapper">
	<insert id="add" parameterType="com.engTecOutSouPlat.entity.Company">
		insert into company
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name!=null">
				name,
			</if>
				createTime,
			<if test="contactName!=null">
				contactName,
			</if>
			<if test="phone!=null">
				phone,
			</if>
			<if test="tradeId!=null">
				tradeId,
			</if>
			<if test="openId!=null">
				openId,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name!=null">
				#{name},
			</if>
				now(),
			<if test="contactName!=null">
				#{contactName},
			</if>
			<if test="phone!=null">
				#{phone},
			</if>
			<if test="tradeId!=null">
				#{tradeId},
			</if>
			<if test="openId!=null">
				#{openId},
			</if>
		</trim>
	</insert>
	<update id="editByOpenId" parameterType="com.engTecOutSouPlat.entity.Company">
		update company set 
		<trim suffixOverrides=",">
			<if test="name!=null">
				name=#{name},
			</if>
			<if test="contactName!=null">
				contactName=#{contactName},
			</if>
			<if test="phone!=null">
				phone=#{phone},
			</if>
			<if test="tradeId!=null">
				tradeId=#{tradeId},
			</if>
		</trim>
		 where openId=#{openId}
	</update>
	<select id="queryForInt" resultType="java.lang.Integer">
		select count(*) from company where 1=1
		<if test="companyName!=''&amp;companyName!=null">
			and name like CONCAT('%',#{companyName},'%')
		</if>
		<if test="tradeId!=''&amp;tradeId!=null">
			and tradeId=#{tradeId}
		</if>
		<if test="contactName!=''&amp;contactName!=null">
			and contactName like CONCAT('%',#{contactName},'%')
		</if>
		<if test="phone!=''&amp;phone!=null">
			and phone like CONCAT('%',#{phone},'%')
		</if>
		<if test="createTimeStart!=''&amp;createTimeStart!=null&amp;createTimeEnd!=''&amp;createTimeEnd!=null">
			and createTime between #{createTimeStart} and #{createTimeEnd}
		</if>
	</select>
	<select id="queryList" resultType="com.engTecOutSouPlat.entity.Company">
		select * from company where 1=1
		<if test="companyName!=''&amp;companyName!=null">
			and name like CONCAT('%',#{companyName},'%')
		</if>
		<if test="tradeId!=''&amp;tradeId!=null">
			and tradeId=#{tradeId}
		</if>
		<if test="contactName!=''&amp;contactName!=null">
			and contactName like CONCAT('%',#{contactName},'%')
		</if>
		<if test="phone!=''&amp;phone!=null">
			and phone like CONCAT('%',#{phone},'%')
		</if>
		<if test="createTimeStart!=''&amp;createTimeStart!=null&amp;createTimeEnd!=''&amp;createTimeEnd!=null">
			and createTime between #{createTimeStart} and #{createTimeEnd}
		</if>
		order by createTime desc
		limit #{rowNum},#{rows}
	</select>
	<select id="getCountByOpenId" resultType="java.lang.Integer">
		select count(*) from company where openId=#{openId}
	</select>
	<select id="getByOpenId" resultType="com.engTecOutSouPlat.entity.Company">
		select * from company where openId=#{openId}
	</select>
</mapper>