<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.engTecOutSouPlat.dao.ProOutSouMapper">
	<insert id="add" parameterType="com.engTecOutSouPlat.entity.ProOutSou">
		insert into pro_out_sou
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="companyName!=null">
				companyName,
			</if>
			<if test="tradeId!=null">
				tradeId,
			</if>
			<if test="otherTrade!=null">
				otherTrade,
			</if>
			<if test="post!=null">
				post,
			</if>
			<if test="proCount!=null">
				proCount,
			</if>
			<if test="speciality!=null">
				speciality,
			</if>
			<if test="describe!=null">
				`describe`,
			</if>
				createTime,
			<if test="startDate!=null">
				startDate,
			</if>
			<if test="endDate!=null">
				endDate,
			</if>
			<if test="contactName!=null">
				contactName,
			</if>
			<if test="phone!=null">
				phone,
			</if>
			<if test="openId!=null">
				openId,
			</if>
				state
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="companyName!=null">
				#{companyName},
			</if>
			<if test="tradeId!=null">
				#{tradeId},
			</if>
			<if test="otherTrade!=null">
				#{otherTrade},
			</if>
			<if test="post!=null">
				#{post},
			</if>
			<if test="proCount!=null">
				#{proCount},
			</if>
			<if test="speciality!=null">
				#{speciality},
			</if>
			<if test="describe!=null">
				#{describe},
			</if>
				now(),
			<if test="startDate!=null">
				#{startDate},
			</if>
			<if test="endDate!=null">
				#{endDate},
			</if>
			<if test="contactName!=null">
				#{contactName},
			</if>
			<if test="phone!=null">
				#{phone},
			</if>
			<if test="openId!=null">
				#{openId},
			</if>
				1
		</trim>
	</insert>
	<select id="queryForInt" resultType="java.lang.Integer">
		select count(*) from pro_out_sou where 1=1
		<if test="contactName!=''&amp;contactName!=null">
			and contactName like CONCAT('%',#{contactName},'%')
		</if>
		<if test="phone!=''&amp;phone!=null">
			and phone like CONCAT('%',#{phone},'%')
		</if>
		<if test="area!=''&amp;area!=null">
			and area like CONCAT('%',#{area},'%')
		</if>
		<if test="companyName!=''&amp;companyName!=null">
			and companyName like CONCAT('%',#{companyName},'%')
		</if>
		<if test="enginName!=''&amp;enginName!=null">
			and enginName like CONCAT('%',#{enginName},'%')
		</if>
		<if test="tradeName!=''&amp;tradeName!=null">
			and tradeName like CONCAT('%',#{tradeName},'%')
		</if>
		<if test="otherTrade!=''&amp;otherTrade!=null">
			and otherTrade like CONCAT('%',#{otherTrade},'%')
		</if>
		<if test="specialityName!=''&amp;specialityName!=null">
			and specialityName like CONCAT('%',#{specialityName},'%')
		</if>
		<if test="otherSpeciality!=''&amp;otherSpeciality!=null">
			and otherSpeciality like CONCAT('%',#{otherSpeciality},'%')
		</if>
		<if test="createTimeStart!=''&amp;createTimeStart!=null&amp;createTimeEnd!=''&amp;createTimeEnd!=null">
			and createTime between #{createTimeStart} and #{createTimeEnd}
		</if>
		<if test="startDateStart!=''&amp;startDateStart!=null&amp;startDateEnd!=''&amp;startDateEnd!=null">
			and startDate between #{startDateStart} and #{startDateEnd}
		</if>
		<if test="endDateStart!=''&amp;endDateStart!=null&amp;endDateEnd!=''&amp;endDateEnd!=null">
			and endDate between #{endDateStart} and #{endDateEnd}
		</if>
		<if test="state!=''&amp;state!=null">
			and state=#{state}
		</if>
	</select>
	<select id="queryList" resultType="com.engTecOutSouPlat.entity.ProOutSou">
		select * from pro_out_sou where 1=1
		<if test="contactName!=''&amp;contactName!=null">
			and contactName like CONCAT('%',#{contactName},'%')
		</if>
		<if test="phone!=''&amp;phone!=null">
			and phone like CONCAT('%',#{phone},'%')
		</if>
		<if test="area!=''&amp;area!=null">
			and area like CONCAT('%',#{area},'%')
		</if>
		<if test="companyName!=''&amp;companyName!=null">
			and companyName like CONCAT('%',#{companyName},'%')
		</if>
		<if test="enginName!=''&amp;enginName!=null">
			and enginName like CONCAT('%',#{enginName},'%')
		</if>
		<if test="tradeName!=''&amp;tradeName!=null">
			and tradeName like CONCAT('%',#{tradeName},'%')
		</if>
		<if test="otherTrade!=''&amp;otherTrade!=null">
			and otherTrade like CONCAT('%',#{otherTrade},'%')
		</if>
		<if test="specialityName!=''&amp;specialityName!=null">
			and specialityName like CONCAT('%',#{specialityName},'%')
		</if>
		<if test="otherSpeciality!=''&amp;otherSpeciality!=null">
			and otherSpeciality like CONCAT('%',#{otherSpeciality},'%')
		</if>
		<if test="createTimeStart!=''&amp;createTimeStart!=null&amp;createTimeEnd!=''&amp;createTimeEnd!=null">
			and createTime between #{createTimeStart} and #{createTimeEnd}
		</if>
		<if test="startDateStart!=''&amp;startDateStart!=null&amp;startDateEnd!=''&amp;startDateEnd!=null">
			and startDate between #{startDateStart} and #{startDateEnd}
		</if>
		<if test="endDateStart!=''&amp;endDateStart!=null&amp;endDateEnd!=''&amp;endDateEnd!=null">
			and endDate between #{endDateStart} and #{endDateEnd}
		</if>
		<if test="state!=''&amp;state!=null">
			and state=#{state}
		</if>
		order by createTime desc
		limit #{rowNum},#{rows}
	</select>
	<select id="getListByOpenId" resultType="com.engTecOutSouPlat.entity.ProOutSou">
		select * from pro_out_sou where openId=#{openId} order by createTime desc
	</select>
</mapper>